

.center2 {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  
  .button {
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #004679; 
  color: black; 
  border: 2px solid black;
}

.button1:hover {
  background-color: black;
  color: white;
}
  img {
  border: 5px solid #555;
}
  h3 {text-align: center;}
  h3 {font-size:250%;}
  p {background-color: #FE1753 ;}
  p {border-style: solid;}
  p {font-size:160%;}

  h1 {background-color:#004679 ;}
  
  h1 {font-size:250%;}}
